# frozen_string_literal: true

class <%= class_name %>::Operation::Edit < ::Base::Operation::Base
  def perform!(params:, current_user:)
    <%= singular_var %> = <%= resource_class %>.find(params[:id])
    authorize! <%= singular_var %>, :edit?

    self.model = <%= singular_var %>
  end
end
